.App {
  text-align: center;
  position: relative; 
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.App-header {
  text-align:center;
  font-style: 'Red Hat Text';
  font-weight: bold;
  font-size: 64px;
  line-height: 85px;
  position: "center";

  color: black;
}

.search-bar {
  display: table-row;
  position: relative;
}

